# vim folder
.vim/

# Research files
Covid.txt

# Real configuration
config.yaml

/vax-alert-bot/node_modules

/vax-alert-bot/config/.env
/vax-alert-bot/config/.env.uat

# PyCache
__pycache__

# Virtual Env
venv/

# Anything that we are using for tests
test*

vax_alert.db